<div>
<% (1..10).each do |v| %>
    <%= v %>
    <% puts(v) %>
<% end %>
    hello
    <div>

<div class="wrapper">
    <label for="test">
        <div class="file-wrapper">Click or drop something here</div>
        <input type="file" id="file-select">
    </label>
</div>
<p id="filename"></p>
    </div>
</div>